In [2]:
print('Hello')

Hello

In [4]:
x = 10
y = 5
if x > y:
    print(x)
else:
    print(y)

10

In [7]:
print(x if x>y else y)

10

In [9]:
s = 'python is fun'

In [15]:
print(s[0])

p

In [16]:
for letter in s:
    print(letter)

p
y
t
h
o
n

i
s

f
u
n

In [22]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [28]:
cars = 80
drivers = 50
print('Hi')
print('cars',cars,'and drivers',drivers)

Hi
cars 80 and drivers 50

In [13]:
for letter in s:
    print(letter, end=' ')

p y t h o n   i s   f u n

In [19]:
for i in range(1,10,3):
    print(i)

1
4
7

In [29]:
s

'python is fun'

In [30]:
lst = ['Name', 34, 6.7, 'hi']

In [31]:
s[0]

'p'

In [32]:
lst[0]

'Name'

In [33]:
name = 'Dr. Reddy'
name[0]

'D'

# name[startIndex : EndIndex : Step]

In [36]:
sliced_name = name[1:7]

In [38]:
type(name)

str

In [39]:
type(sliced_name)

str

In [40]:
name

'Dr. Reddy'

In [41]:
sliced_name

'r. Red'

In [43]:
lst = ['Name', 34, 6.7, 'hi', 99, True, 'new string']

In [45]:
lst[1:3]

[34, 6.7]

In [47]:
lst[0:]

['Name', 34, 6.7, 'hi', 99, True, 'new string']

In [48]:
# default values [0: len: 1]

In [50]:
lst[0:7:1]

['Name', 34, 6.7, 'hi', 99, True, 'new string']

In [52]:
lst[1::]

[34, 6.7, 'hi', 99, True, 'new string']

In [54]:
for ele in lst:
    print('Value is:', ele)
    print('Inside for loop')

Value is: Name
Inside for loop
Value is: 34
Inside for loop
Value is: 6.7
Inside for loop
Value is: hi
Inside for loop
Value is: 99
Inside for loop
Value is: True
Inside for loop
Value is: new string
Inside for loop

In [55]:
lst

['Name', 34, 6.7, 'hi', 99, True, 'new string']

In [56]:
dir(lst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [57]:
lst

['Name', 34, 6.7, 'hi', 99, True, 'new string']

In [58]:
lst.append('101')

In [59]:
lst

['Name', 34, 6.7, 'hi', 99, True, 'new string', '101']

In [60]:
lst.append(10000)

In [61]:
lst

['Name', 34, 6.7, 'hi', 99, True, 'new string', '101', 10000]

In [65]:
numbers = []
for i in range(10):
    if i%2 == 0:
        numbers.append(i)

In [66]:
numbers

[0, 2, 4, 6, 8]

In [76]:
[ i for i in range(10) if i%2 == 0 ]

[0, 2, 4, 6, 8]

In [85]:
def add(a,b):
    print('This is my first function')
    print('Addition of', a, 'and', b, 'is', a+b)
    return a+b

In [86]:
z = add(2,3)

This is my first function
Addition of 2 and 3 is 5

In [87]:
z

5

In [83]:
add(0, 99)

This is my first function
Addition of 0 and 99 is 99

In [84]:
add(233, 465433)

This is my first function
Addition of 233 and 465433 is 465666

In [71]:
names1 = ['John', 'Alexandre', 'Aakash', 'Sachin', 'Fredrick', 'abc']

In [72]:
names1

['John', 'Alexandre', 'Aakash', 'Sachin', 'Fredrick', 'abc']

In [90]:
names2 = ['Mumbai', 'Montreal', 'New York', 'New Delhi', 'Bangalore', 'Toronto']

In [91]:
names1

['John', 'Alexandre', 'Aakash', 'Sachin', 'Fredrick', 'abc']

In [92]:
names2

['Mumbai', 'Montreal', 'New York', 'New Delhi', 'Bangalore', 'Toronto']

In [98]:
def filter_long_names(lst):
    new_list = []
    for word in lst:
        if len(word) > 7:
            new_list.append(word)
    return new_list

In [105]:
new_names1 = filter_long_names(names1)

In [106]:
new_names1

['Alexandre', 'Fredrick']

In [104]:
[ word for word in names1 if len(word) > 7 ]

['Alexandre', 'Fredrick']

In [100]:
new_names1

['Alexandre', 'Fredrick']

In [101]:
new_names2 = filter_long_names(names2)

In [102]:
new_names2

['Montreal', 'New York', 'New Delhi', 'Bangalore']

In [116]:
# ASCII files

In [127]:
fd = open('/Users/Ganesh/sample.txt')

In [128]:
contents = fd.read()

In [129]:
type(contents)

str

In [130]:
contents

'python is fun\nwe are learning python at Geeks\nPune is clean and green\nWe are happy\npython is cool\nwe enjoy\n'

In [133]:
contents1 = fd.read()

In [134]:
contents1

''

In [135]:
fd.close()

In [124]:
contents

'python is fun\nwe are learning python at Geeks\nPune is clean and green\nWe are happy\npython is cool\nwe enjoy\n'

In [125]:
contents.split('\n')

['python is fun',
 'we are learning python at Geeks',
 'Pune is clean and green',
 'We are happy',
 'python is cool',
 'we enjoy',
 '']

In [121]:
fd.close()

In [126]:
s = 'python is fun'
s.split()

['python', 'is', 'fun']

In [141]:
with open('/Users/Ganesh/sample.txt') as file:
    data = file.read()
print('reading is completed')

reading is completed

In [140]:
data

'python is fun\nwe are learning python at Geeks\nPune is clean and green\nWe are happy\npython is cool\nwe enjoy\n'

In [142]:
ladies_purse = {'cash': 1500, 'cards': 2, 'candies': 8}

In [143]:
ladies_purse['cash']

1500

In [144]:
type(ladies_purse)

dict

In [145]:
for item in ladies_purse.items():
    print(item)

('cash', 1500)
('cards', 2)
('candies', 8)

# list --> [ ]
# tuple --> ( )
# dict --> { }

In [146]:
for item in ladies_purse:
    print(item)

cash
cards
candies

In [150]:
for item in ladies_purse:
    print('key =', item, '---> and value =', ladies_purse[item])

key = cash ---> and value = 1500
key = cards ---> and value = 2
key = candies ---> and value = 8

In [151]:
ladies_purse

{'candies': 8, 'cards': 2, 'cash': 1500}

In [153]:
names2

['Mumbai', 'Montreal', 'New York', 'New Delhi', 'Bangalore', 'Toronto']

In [152]:
names1

['John', 'Alexandre', 'Aakash', 'Sachin', 'Fredrick', 'abc']

names2

names2

In [154]:
names1 + names2

['John',
 'Alexandre',
 'Aakash',
 'Sachin',
 'Fredrick',
 'abc',
 'Mumbai',
 'Montreal',
 'New York',
 'New Delhi',
 'Bangalore',
 'Toronto']

In [155]:
s1 = 'new'
s2 = 'delhi'

In [156]:
s1 + s2

'newdelhi'

In [157]:
23+45

68

In [158]:
ladies_purse

{'candies': 8, 'cards': 2, 'cash': 1500}

In [159]:
ladies_purse['cards'] = {'international': 1, 'domestic': 2}

In [160]:
ladies_purse

{'candies': 8, 'cards': {'domestic': 2, 'international': 1}, 'cash': 1500}

In [161]:
ladies_purse['cards']['international']

1

In [167]:
ladies_purse = {'candies': 8, 'cards': [{'VISA': ['card1', 'card2'], 'Master':['card5']}], 'cash': 1500}

In [168]:
ladies_purse

{'candies': 8,
 'cards': [{'Master': ['card5'], 'VISA': ['card1', 'card2']}],
 'cash': 1500}

In [175]:
ladies_purse['cards'][0]['VISA'][1]

'card2'

In [177]:
ladies_purse = {'candies': 8, 'cards': 2, 'cash': 1500}

In [182]:
ladies_purse['cards'] = {'international': 'ONEONE', 'domestic': 'TWOTWO'}

In [183]:
ladies_purse

{'candies': 8,
 'cards': {'domestic': 'TWOTWO', 'international': 'ONEONE'},
 'cash': 1500}

In [186]:
ladies_purse['cards']['domestic'][:3]

'TWO'

In [188]:
# OOPs
import math
print(math.pi)

3.141592653589793

In [189]:
print(math.sqrt(25))

5.0

In [192]:
import math
circle_name = 'A'
circle_radius = 4.1

circle_circ = 2 * math.pi * circle_radius

circle1_name = 'B'
circle1_radius = 4.2

circle1_circ = 2 * math.pi * circle1_radius

In [193]:
print(circle_circ)

25.7610597594363

In [194]:
print(circle1_circ)

26.389378290154262

In [225]:
class Circle:
    color = 'blue'
    def __init__(self, name, radius):
        self.name = name
        self.radius = radius
    def circumference(self):
        return 2 * math.pi * self.radius
    def calc_area(self):
        return math.pi * self.radius**2

In [226]:
circle1 = Circle('A', 4.2)
circle2 = Circle('B', 4.7)

In [227]:
circle2.calc_area()

69.39778171779854

In [214]:
circle1.radius

4.2

In [215]:
circle1.circumference()

26.389378290154262

In [216]:
circle2.circumference()

29.530970943744055

In [221]:
class Employee:
    def __init__(self, a):
        print('Inside init function')
        self.name = a
    def skills(self):
        print('skills function')

In [222]:
emp1 = Employee('Alex')
emp2 = Employee('John')

Inside init function
Inside init function

In [223]:
emp1.name

'Alex'

In [224]:
emp2.name

'John'