# Day 3

In [9]:
class Car:
    no_of_tyres = 4 #class attribute

merc = Car()
merc.steering_type = 'Manual' # object attribute
print(merc.no_of_tyres, merc.steering_type)

audi = Car()
audi.steering_type = 'Auto'
print(audi.no_of_tyres, audi.steering_type)
print('printing class attribute', Car.no_of_tyres)

audi.no_of_tyres = 5
print(merc.no_of_tyres, merc.steering_type)
print(audi.no_of_tyres, audi.steering_type)

4 Manual
4 Auto
printing class attribute 4
4 Manual
5 Auto

In [22]:
class Employee():
    salary_hike = 1.2
    def __init__(self, name, emp_id):
        self.name = name
        self.emp_id = emp_id
        print('Initialization function')
    def display_info(self):
        print('Displaying employee info')
        print(self.name, self.emp_id)

In [16]:
e1 = Employee('John', 1001)
e2 = Employee('Alexandre', 1005)

Initialization function
Initialization function

In [17]:
print(e1.name, e1.emp_id)

John 1001

In [18]:
e1.display_info()

Displaying employee info
John 1001

In [19]:
e2.display_info()

Displaying employee info
Alexandre 1005

In [21]:
dir(e1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'display_info',
 'emp_id',
 'name',
 'salary_hike']

In [47]:
class Employee():
    salary_hike = 1.2
    def __init__(self, name, emp_id):
        self.name = name
        self.emp_id = emp_id
    
    def display(self):
        print('inside display', self.salary_hike, self.name)

In [48]:
e1 = Employee('Aakash', 1006)

In [49]:
e1.display()

inside display 1.2 Aakash

In [50]:
# create a list of squared number upto 10?
[ w**2 for w in range(10) ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
new_list = []
for i in range(10):
    new_list.append(i**2)
print(new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
import math

In [61]:
def some_operation(n):
    ret = n ** 2 + math.sqrt(25)
    ret -= 62
    ret = (10.45/ret) * 167
    return ret

In [70]:
print(some_operation(18))

6.536142322097378

In [71]:
lst = [3,5,7,9]

In [72]:
sq_lst = []
for ele in lst:
    temp = some_operation(ele)
    sq_lst.append(temp)
print(sq_lst)

[-36.35729166666666, -54.535937499999996, -218.14374999999998, 72.71458333333332]

In [77]:
list(map(some_operation, lst))

[-36.35729166666666,
 -54.535937499999996,
 -218.14374999999998,
 72.71458333333332]

In [78]:
math.sqrt(25)

5.0

In [79]:
f = some_operation

In [80]:
f(5)

-54.535937499999996

In [81]:
f = some_operation(5)

In [82]:
print(f)

-54.535937499999996

In [111]:
if True:
    print('Hello')

Hello

In [107]:
number = input()

In [108]:
type(number)

str

In [109]:
number = int(number)

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
type(number)

In [ ]:
print(number)

In [113]:
100/10

10.0

In [114]:
23/45

0.5111111111111111

In [115]:
35/6

5.833333333333333

In [117]:
num = int(input('Enter a number: '))

In [118]:
print(num)

63

In [ ]:
num = int(input('Enter a number: '))
op = 92/num
print('Operation performed')
print(op)
print('End of the program')

In [ ]:
num = int(input('Enter a number: '))
op = 92/num
print('Operation performed')
print(op)
print('End of the program')